html, body {
    height: 95vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.top, .content, .bottom{
    background-color: rgba(105, 96, 96, 0.274);
    height: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 90%;
    margin: 1em 0em;
}

.top, .bottom {
    flex-basis: 5%;
}

aside{
    height: 100%;
    width: 20%;
    background-color: aqua;
}

main{
    height: 100%;
    width: 55%;
    background-color: fuchsia;
}

/* html, body{
    border: 1px solid black;
    height: 100%;
    width: 100%;
}


.container{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.top, .bottom{
    flex-basis: 10%;
    background-color: aqua;
}

.content{
    flex-basis: 60%;
}

aside{
    background-color: aquamarine;
} */