html, body {
    height: 95vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.top, .mid, .bot{
    background-color: rgba(105, 96, 96, 0.274);
    height: 100%;
}

.mid {
    margin: 1em 0em;
}

.top, .bot {
    flex-basis: 20%;
}